:root{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Change borders from percentages to solid values s */

.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.keys{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 400px;
}

.number-container{
    display: flex;
    flex-flow: row wrap;
}

.number, .equal, .decimal, .operator{
    margin: 1%;
    font-size: 42px;
    font-weight: bold;
    width: 50px;
    height: 50px
}


.operator-container{
    display: flex;
    flex-flow: column nowrap;

}

.screen{
    background-color: darkolivegreen;
    border: 2px solid black;
    text-align: right;
    width: 200px;
    font-size: 30px;
}